const config = {
  population: {
    table: 'analytics.census_data',
    connection: {
      host: '{{{host}}}',
      user: '{{{user}}}',
      password: '{{{password}}}',
    },
  },
  user: {
    votes: 'user_votes',
    info: 'user_info',
    connection: {
      host: '{{{user_host}}}',
      user: '{{{user_user}}}',
      password: '{{{user_password}}}',
      database: '{{{user_database}}}',
    },
  },
};

module.exports = config;
